html,
body {
    height: 100%;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
  font-family: 'Helvetica', serif;
}



  .grid-container {
      display: grid;
      grid-gap: 15px;
      color: rgb(255, 255, 255);
    }

    .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'header'
    'main';
    }

/*

This piece right here doesnt cooperate with me, ill check it out later

    #footer-container > .grid-item {
        display: grid;
        grid-template-rows: 1fr aut0;
        grid-template-columns: 1fr minmax(0, 600px) 1fr;
      }
  

      */
    .grid-item {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      border-radius: 5px;
      padding: 20px;
      font-size: 150%;
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    }
  
    .one {
      grid-template-columns: 3/5;
    }
    .two {
      grid-column: 2/5;
    }
    .three {
      grid-column: 1 / 2 ;
      grid-row: 2 ;
    }
    .four {
      grid-column: 2 / 5 ;
      grid-row: 2 ;
    }
  
/*

This was not used

    .five {
      grid-column: 1 / 5;
      grid-row: 3;
    }

    */