

h1 { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10vw;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    color: black
}


.snippet {
    font-size: 3vw;
}

#donate strong span {
    font-size: 3vw;
}


h1{
    text-align: center;
}
.icon {
    width: 128px;
    height: 128px;
    display: block;
}
#about_site, #get_started{
    background-color: rgb(29, 79, 57);
    color: white;
}

#about_site h3, #get_started h3 {
    text-align: right;
}

#mission {

}
.header {
    width: 100vw;
    text-align: center;
    padding: 10vw;
    margin: auto;
    background-image: url("succulents.jpg")

}
